@model Site.Models.UserViewModels.AlterPasswordViewModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input class="form-control" asp-for="SenhaAtual" placeholder="Senha Atual" />
            <span asp-validation-for="SenhaAtual" class="text-danger"></span>
        </div>
    </div>
</div>

@Html.Partial("_PasswordAndConfirmationPartial.cshtml");