@model Site.Models.UserViewModels.CreatePasswordViewModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input class="form-control" asp-for="Senha" placeholder="Nova Senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input class="form-control" asp-for="ConfirmacaoSenha" placeholder="Confirmação de Senha" />
            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
        </div>
    </div>
</div>